#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-image: var(--root-bg-image);
}

.islands {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (min-width: 601px) {
  /* common to tablets and desktops */
  #root {
    flex-direction: row;
    padding: 25px;
  }
  /* #root has only two children: .islands and main */
  .islands {
    flex: 1;
  }
  main {
    flex: 2;
  }
}

@media (min-width: 1024px) {
  /* large screens only */
  .islands,
  main {
    overflow-y: scroll;
    max-height: calc(100vh - 50px);

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .islands::-webkit-scrollbar,
  main::-webkit-scrollbar {
    display: none;
  }

  .islands {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
    background-image: var(--islands-bg-image);
  }

  main {
    align-self: stretch;
  }
}

/* print styles */
@media print {
  .islands {
    display: none;
  }

  #root,
  main {
    padding: 0;
    margin: 0;
    font-size: 0.5rem;
    width: 100%;
    background-color: var(--bg-clr);
  }
}
